@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-bg: #151525;
  --color-primary: linear-gradient(
    0deg,
    rgba(48, 48, 80, 1) 0%,
    rgba(48, 48, 85, 1) 100%
  );
  --color-secondary: #ff9100;
  --color-white: #fff;

  --color-shadow: rgba(0, 0, 0, 0.29);

  --color-danger: rgb(167, 35, 35);
  --color-success: rgb(29, 110, 29);
  --color-warning: rgb(255, 208, 0);

  --container-width-lg: 60%;
  --container-width-md: 80%;
  --container-width-sm: 90%;
}

body {
  background: var(--color-bg);
}

body::-webkit-scrollbar {
  width: 10px;
  cursor: default;
}
body::-webkit-scrollbar-track {
  background: var(--color-primary);
  cursor: default;
}
body::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border-radius: 2rem;
  border: 1px solid transparent;
  cursor: default;
}

.container {
  width: var(--container-width-lg);
  margin: 1rem auto;
  position: relative;
}

.default {
  background: var(--color-primary) !important;
}

.danger {
  background: var(--color-danger) !important;

  --color-secondary: #fff;
}

.success {
  background: var(--color-success) !important;

  --color-secondary: #fff;
}

.warning {
  background: var(--color-warning) !important;

  --color-secondary: #000;
  --color-white: #000;
}

.white-theme {
  --color-bg: #efe7d3;
  --color-primary: #f6e6e8;
  --color-secondary: #fff;
  --color-white: #111;
  --color-shadow: rgba(255, 255, 255, 0.29);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.theme svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.search {
  color: var(--color-white);
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.search input {
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 3rem;
  border-radius: 1rem;
  background: var(--color-primary);
  color: var(--color-white);
}

.search svg {
  position: absolute;
  color: var(--color-white);
  font-size: 1.3rem;
  top: 23%;
  left: 1rem;
}
.notes-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.note.create button {
  padding: 0.5rem 0.7rem;
  background: var(--color-secondary);
  border-radius: 1rem 0 1rem 0;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 400ms ease;
}

.note.create button:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  background: transparent;
}

.note.create .category {
  background: transparent;
  color: var(--color-secondary);
}

.note.create .category option {
  background: var(--color-bg);
}

.note {
  position: relative;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 2rem 1rem;
  box-shadow: 10px 11px 13px 0px var(--color-shadow);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  min-height: 250px;
  white-space: pre-wrap;
  transition: all 400ms ease;
}

.note textarea {
  resize: none;
  background: transparent;
  color: var(--color-white);
  height: 100%;
}

.note footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 1.1rem;
}

.note footer svg {
  font-size: 1.8rem;
  cursor: pointer;
}

.colors-btn {
  cursor: pointer;
}

.note .colors {
  display: flex;
  width: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  background: var(--color-primary);
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: calc(50% - 1.1rem);
  border-radius: 3rem 1rem;
  z-index: 1;
  box-shadow: 10px 10px 56px 0px rgba(0, 0, 0, 0.77) inset;
}

.note .colors:before {
  content: "";
  height: 1rem;
  width: 1rem;
  background: linear-gradient(135deg, var(--color-bg) 50%, transparent 100%);
  position: absolute;
  top: -0.5rem;
  transform: rotate(45deg);
}

.note .colors span {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px 3px;
  gap: 1rem;
  border: 2px solid #fff;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin: 2rem auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    margin: 2rem auto;
  }
  .note .colors {
    left: calc(50% - 1.7rem);
  }
}
